/* ---------------------HERO--------------------- */
/* Hero container */
/* Hero container */
.hero-container {
    height: 70vh;
    background-image: url('../assets/bgButcher.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
  }
  .hero-image{
    width: 25%;
  }
  .hero-content {
    text-align: center;
    color: white;
    z-index: 1;
  }
  
  .hero-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  .hero-content button {
    background-color: #282c34;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .hero-content button:hover {
    background-color: #61dafb;
  }
  .css-1motzux{
    margin: auto;
  }



.buttonHero {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}


/* ------------------------CARD MAS VENDIDO ------------------ */
.card {
  /* --bg-card: #27272a; */
  background-image: url("../assets/TABLA\ COCINA\ ACACIA\ -\ Grande.jpeg");
  --primary: #6d28d9;
  --primary-800: #4c1d95;
  --primary-shadow: #2e1065;
  --light: #d9d9d9;
  --zinc-800: #18181b;
  --bg-linear: linear-gradient(0deg, var(--primary) 50%, var(--light) 125%);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1rem;
  width: 14rem;
  background-color: var(--bg-card);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  filter: drop-shadow(5px 5px 10px #000000),
}

.image_container {
  overflow: hidden;
  cursor: pointer;
  position: relative;
  z-index: 5;
  width: 100%;
  height: 8rem;
  border-radius: 0.5rem;
}

.image_container .image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3rem;
  fill: var(--light);
}

.title {
  overflow: hidden;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  color: var(--light);
  text-transform: capitalize;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.size {
  font-size: 0.75rem;
  color: var(--light);
}

.list-size {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-top: 0.25rem;
}

.list-size .item-list {
  list-style: none;
}

.list-size .item-list-button {
  cursor: pointer;
  padding: 0.5rem;
  background-color: var(--zinc-800);
  font-size: 0.75rem;
  color: var(--light);
  border: 2px solid var(--zinc-800);
  border-radius: 0.25rem;
  transition: all 0.3s ease-in-out;
}

.item-list-button:hover {
  border: 2px solid var(--light);
}

.item-list-button:focus {
  background-color: var(--primary);
  border: 2px solid var(--primary-shadow);
  box-shadow: inset 0px 1px 4px var(--primary-shadow);
}

.action {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.price {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--light);
}

.cart-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem;
  width: 100%;
  background-color: green;
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--light);
  white-space: nowrap;
  border: 2px solid hsla(138, 83%, 58%, 0.5);
  border-radius: 0.5rem;
  box-shadow: inset 0 0 0.25rem 1px var(--light);
}

.cart-button .cart-icon {
  width: 1rem;
}


.react-parallax-content{
  height: 70vh;

}
.css-w21w7o {
  height: 100%;
}

  /* Static background for mobile devices */
  @media (max-width: 768px) {
    .hero-container {
      background-attachment: scroll;
    }
  }
  