*{
  box-sizing: border-box;
}
.App {
  text-align: center;
  background-color: "#88B9BF";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ------------------FONTS --------------- */
.titMai{
  font-family: "Berkshire Swash", serif;
  font-weight: 400;
  font-style: normal;
}
.subMai {
  font-family: "Nothing You Could Do", cursive;
  font-style: normal;
}

/* --------------------NAB BAR ----------------- */
.css-1ef8uzr{
  align-items: center;
}
/* --------------- calendario ------------- */

.rojo {
  background-color: #ff6666; /* Color rojo */
}

.naranja-claro {
  background-color: #ffcc99; /* Color naranja claro */
}

.amarillo {
  background-color: #ffff99; /* Color amarillo */
}

.verde {
  background-color: #99ff99; /* Color verde */
}

.deshabilitado {
  opacity: 0.5; /* Reduce la opacidad para dar efecto de deshabilitado */
  pointer-events: none; /* Deshabilita eventos de mouse para hacerlo no interactivo */
  text-decoration: line-through; /* Opcional: Agrega una línea sobre el texto */
  color: #999; /* Color de texto deshabilitado */
}

.calendFechas {
  display: flex;
  gap: 20px;
}

/* src/components/Calendario.css */

.calendario-container {
  overflow: scroll;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.nueva-reserva-container h1,
.calendario-container h1 {
  text-align: center;
  font-weight: bold;
}
.nueva-reserva-container p {
  font-size: 12px;
  text-align: center;
}

.calendario-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.calendario-buttons button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.calendario-buttons button:hover {
  background-color: #45a049;
}

.calendario-filtrado {
  display: flex;
  gap: 20px;
}

.calendario-filtrado > div {
  flex: 1;
  border-left: solid 1px gainsboro;
}

.calendario-filtrado h2 {
  margin-bottom: 10px;
  font-size: 18px;
}

.calendario-filtrado ul {
  list-style: none;
  padding: 0;
}

.calendario-filtrado ul li {
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 5px;
}

.calendario-filtrado ul li.rojo {
  background-color: #ffcccc;
}

.calendario-filtrado ul li.naranja-claro {
  background-color: #ffe6cc;
}

.calendario-filtrado ul li.amarillo {
  background-color: #fff2cc;
}

.calendario-filtrado ul li.verde {
  background-color: #ccffcc;
}

.reserva {
  display: flex;
  justify-content: space-between;
}

.horario-casillas {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8%;
  justify-content: center
}

.horario-casilla {
  position: relative;
  padding: 5px 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 16px;
}

.horario-casilla:hover {
  background-color: #e0e0e0;
  border-color: #999;
}

.horario-casilla.selected {
  color: white;
  border-color: lightblue;
  font-weight: bold;
}

.check-icon {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #4CAF50;
  color: white;
  border-radius: 50%;
  padding: 2px;
  font-size: 12px;
  line-height: 1;
}
/* --------------- Nueva Reserva -------------- */

/* src/components/NuevaReserva.css */

.nueva-reserva-container {
  padding: 20px;
  background-color: #f0f0f0;
}

.nueva-reserva-form {
  display: flex;
  flex-direction: column;
}

.nueva-reserva-form div {
  margin-bottom: 15px;
}

.nueva-reserva-form label {
  font-weight: bold;
}
.nueva-reserva-form label::after {
  content: "*";
  color: red;
}

.nueva-reserva-form input, .nueva-reserva-form select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.nueva-reserva-form input[type="date"],
.nueva-reserva-form input[type="time"] {
  appearance: none;
}

.nueva-reserva-form input[type="date"]:disabled,
.nueva-reserva-form input[type="time"]:disabled {
  background-color: #eee;
}

.nueva-reserva-form .error-message {
  color: #ff6347;
  margin-top: 5px;
}

.nueva-reserva-form .success-message {
  color: #32cd32;
  margin-top: 5px;
}

.nueva-reserva-form button {
  border: solid 1px lightblue;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.nueva-reserva-form button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  color: lightblue;
}
.cho-container button {
  background-color: #71D2F2;
  font-weight: bold;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/* ---------------------- Hero Paralax --------------- */
/* HeroSection.css */
.boxHero {
  height: 70vh;
}

.parallax-container {
  height: 70vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: block;
  /* clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 50px),
    50% 100%,
    0 calc(100% - 50px)
  ); */
  background-color:#88b9bf ;
  border-radius: 24px;
}

.mobile-container {
  display: none;
}

@media (max-width: 768px) {
  .parallax-container {
    display: none;
  }

  .mobile-container {
    display: block;
    width: 100%;
    height: 70vh;
  }

  .boxHero {
    height: auto;
  }
  .css-xj6ol9{
    width: 100vw;
  }
}


/* --------------- Prestadores ------------------ */
.bgPrestador {
  padding: 2rem;
  border-bottom: solid 2px #6E5F83;
  background-color: #E5B9D7;
  position: relative;
}

.semicircle {
  position: relative;
  background: #88b9bf;

}

.bgPrestador {
  position: relative;
  width: 100%;
  height: 100%;
}

.circle {
  position: absolute;
  width: 250px; /* Ajusta según tus necesidades */
  height: 250px; /* Ajusta según tus necesidades */
  border-radius: 50%;
  background-image: url("./components/assets/FondoLogo.jpg"); /* Color de fondo del círculo */
  z-index: 1; /* Asegúrate de que estén detrás de las cartas */
  border: solid 2px #6E5E84; 
}

.circle-1 {
  top: -50px; /* Ajusta la posición vertical */
  left: 40%; /* Centrado horizontal */
  transform: translateX(-50%);
}

.circle-2 {
  bottom: -20%;
  left: 20%; /* Ajusta la posición horizontal */
}

.circle-3 {
  bottom: 70px;
  right: 2%; /* Ajusta la posición horizontal */
}

.cont-Cards {
  position: relative;
  z-index: 2; /* Asegúrate de que las cartas estén por encima de los círculos */
  display: flex;
  justify-content: center;
  align-items: center;
}


.css-1bpnzr3 {
margin-top: 0 !important;
}
/* ----------------------  Cards ------------------------  */
.cont-Cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}
.card {
  --main-color: #000;
  --submain-color: #78858f;
  --bg-color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  border: solid 8px #2E1F13;
  background: #4a4a4a;
  overflow: hidden;
  background: rgb(87, 87, 87);
  background: linear-gradient(
    94deg,
    rgba(87, 87, 87, 1) 0%,
    rgba(87, 87, 87, 1) 100%
  );
  padding-bottom: .5rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  gap: .5rem;
}

.card__img {
  height: 192px;
  width: 100%;
  overflow: hidden;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 50px),
    50% 100%,
    0 calc(100% - 50px)
  );
}

.card__avatar {
  width: 114px;
  height: 114px;
  background: var(--bg-color);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50% - 57px);
  overflow: hidden;
}

.card__avatar svg {
  width: 100px;
  height: 100px;
}

.card__title {
  font-weight: 500;
  font-size: 18px;
  color: goldenrod;
}

.card__subtitle {
  margin-top: 10px;
  font-weight: 400;
  font-size: 15px;
  color: whitesmoke;
}

.card__btn {
  margin-top: 15px;
  width: 76px;
  height: 31px;
  border: 2px solid var(--main-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 11px;
  color: var(--main-color);
  background: var(--bg-color);
  text-transform: uppercase;
  transition: all 0.3s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.card__btn-solid {
  background: var(--main-color);
  color: var(--bg-color);
}

.card__btn:hover {
  background: var(--main-color);
  color: var(--bg-color);
}

.card__btn-solid:hover {
  background: var(--bg-color);
  color: var(--main-color);
}

/* Estilos básicos para el modal */
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background-color: #f0f0f0;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  position: relative;
  bottom: 30%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* ------------------- HISTORIA ----------------------- */
.LogoWebHistoria{
  display: none;
}

/* ---------------------- Testimonion ----------------- */
/* Testim.css */
.testim-parallax-bg {
  position: absolute;
  left: 50%;
  transform: translate3d(-50%, -53.1804px, 0px);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  height: auto;
  width: 1920px;
  filter: none;
}

.testim-hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.testim-hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.testim-hero-content p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.testim-hero-content button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #ff6347;
  color: white;
  border: none;
  cursor: pointer;
}

.testim-hero-content button:hover {
  background-color: #ff4500;
}

.testim-hero-img {
  margin-top: 24px;
}

.testim-parallax-container {
  background-size: cover;
  background-position: center;
  position: relative;
  display: block;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 50px),
    50% 100%,
    0 calc(100% - 50px)
  );
  border-radius: 24px;
}



.testim-mobile-container {
  display: none;
}

@media (max-width: 768px) {
  .testim-parallax-container {
    display: none;
  }

  .testim-mobile-container {
    display: block;
    width: 100%;
  }

  .testim-boxHero {
    height: auto;
  }
}
/* ----------------- Mercado pago boton -------------------*/
.cho-container{
  display: flex;
  justify-content: center;
}
/* ----------------- Mercado pago boton -------------------*/
.css-1kjx7mh{
  background-color: #ffffff26;
  padding: 1rem;
  border-radius: 12px;
}
.buttonHero {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

/* --------------------NAB BAR ----------------- */
.css-1ef8uzr{
  align-items: center;
}

/* -------------------- LANDING ----------------- */
.cont-landing{
  padding: 1rem;
  background-color: #E5B9D7;
}
/* ------------ selectoor de horas ----------- */

.hora-selector {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
}

.hora-opcion {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hora-opcion:hover {
  background-color: #f0f0f0;
}

.hora-seleccionada {
  border: 2px solid #87CEFA;
  background-color: #e6f7ff;
}

.css-cs9aj7{
  background-color: #88b9bf70;
  border-radius: 12px;
  padding: 1rem;
}
@media (max-width: 750px) {
  .calendFechas {
    flex-direction: column;
  }
  .calendario-filtrado {
    flex-direction: column;
  }
  .calendario-filtrado > div {
    border-left: none;
    border-bottom: solid 1px gainsboro;
  }
  .cont-Cards {
    flex-direction: column;
    gap: 1rem;
  }
  .css-b3d31b {
  overflow: hiddenreact-parallax-bgimage;
  }
  .parallax-container {
    background-size: 100% auto; /* Ajusta la imagen de fondo al 100% del ancho del contenedor */
  }
  .css-1d1wr0h{
    height: auto;

  }
  .circle-1 {
    top: -70px; /* Ajusta la posición vertical */
    left: 80%; /* Centrado horizontal */
    transform: translateX(-50%);
    width: 151px; /* Ajusta según tus necesidades */
    height: 151px; /* Ajusta según tus necesidades */

  }
  
  .circle-2 {
    position: absolute;
    width: 150px; /* Ajusta según tus necesidades */
    height: 150px; /* Ajusta según tus necesidades */
    border-radius: 50%;
    z-index: 1; /* Asegúrate de que esté detrás de las cartas */
    top: 25%; /* Ajusta la posición vertical */
    left: -10%; /* Ajusta la posición horizontal */
    transform: rotate(70deg); /* Rotación de 70 grados */
  }
  
  
  .circle-3 {
    position: absolute;
    width: 150px; /* Ajusta según tus necesidades */
    height: 150px; /* Ajusta según tus necesidades */
    border-radius: 50%;
    z-index: 1; /* Asegúrate de que esté detrás de las cartas */
    bottom: -70px;
    left: 40%; /* Ajusta la posición horizontal */
    transform: rotate(20deg); /* Rotación de 70 grados */
  }
  .css-fig1r1 {
  padding-bottom: 0 !important;
  }
  .LogoWebHistoria{
    display: block;
  }
  .modal-content {

    bottom: 0;

  }
 
}




*{
  box-sizing: content-box;
  }